 body {
   font-family: 'Inconsolata', Monaco, Consolas, "Lucida Console", monospace;
   background-color: #A9D1FF;
 }

#left {
    background: rgba(0,0,0,0.2)
}

#center_inner{
    position: relative;
}

#title {
    position: relative;
    width: 100%;
    text-align: center;
}

#right {
    background: rgba(0,0,0,0.2)
}


