body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  margin-right: 1em;
}

#cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999999999999;
    background: gray;
}

div.Container.Overbox {
  fill: lightgray;
  color: white;
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 5;
  overflow: visible;
  max-width: 40%;
}

.Fullscreen {
  fill: black;
  color: white;
  position: absolute;
  background-color:rgba(0,0,0,0.2);
  z-index: 500;
}


div.Overbox.n_expando_outer {
  padding: 0.5em;
  border-radius: 0.5em;
  position: absolute;
  color: white;
  fill: lightgray;
  background-color:rgba(0,0,0,0.5);
}

div.Container.Overbox:hover {
  background-color:rgba(0,0,0,0.7);
}



body {
    background-color: #ffffff;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        font-size: 300%;
    }
    
    svg {
        font-size: initial;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 700px) {
    body {
        font-size: 125%;
    }
    
    svg {
        font-size: initial;
    }
}
