.pure-input-1 {
    margin: 0.5em;
}

#editor-holder {
    right: 0.5em;
}

.n_input_button {
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-size: 0.8em;
}

div.Input {
    padding-left: 2em;
    max-width: 90%;
}
