
.node rect {
  cursor: pointer;
  fill: none;
  stroke: none;
}

.node text {
  font: 1em Inconsolata;
  pointer-events: none;
  fill: black;
}

div.Overbox .node text {
  fill: white;
}

div.Overbox:hover .node text {
  fill: white;
}

rect.n_open_branch {
    fill: initial;
    fill-opacity: 0.0;
}

rect.n_closed_branch {
    fill: initial;
    fill-opacity: 0.0;
}

text.n_closed_branch {
    font-style: italic;
}

rect.n_leaf {
    fill: initial;
    fill-opacity: 0.0;
}

.node text.n_tree_icon {
    font-family: FontAwesome
}
