.ResultViewer {
  z-index: 5;
  position: relative;
  height: 100%;
  width: 100%;
}

table.pure-table {
  min-width: 100%;
  background: white;
}

.header_selected {
  background: orange;
}

th {
    vertical-align: middle;
}
