 body {
   font-family: 'Inconsolata', Monaco, Consolas, "Lucida Console", monospace;
   background: #CEE6FF;
 }

#left { 
    background: #75B5FF;
}

#menutree {
    margin: 1em;
    position: absolute;
    top: 4%;
    left: 0.5em;
}

#details_outer {
    position: absolute;
    bottom: 2em;
    right: 1em;
}

#stylemaster {
    position: absolute;
    right: 1em;
    top: 13%;
}

#querybox.Overbox {
    position: absolute;
    bottom: 2em;
    left: 1em;
    max-width: 66%;
    width: initial;
    background: rgba(0,0,0,0.5)
}

#querybox.Overbox:hover {
    background: rgba(0,0,0,0.7)
}

#right {
    overflow: hidden;
}

#results {
    
}

#dataarea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

td.n_results {
    cursor: crosshair;
}

th {
    cursor: pointer;
}

span.argo, div.argo {
    max-width: none;
    padding: 0;
}

.argo_button {
    background: #A9A9A9;
    border-radius: 0.3em;
}

.argo_button:hover {
    background: #B7B7B7;
}

#querybox_select_button_container {
    border: none;
}


div.n_tabs {
    background: #425F81;
}

div.n_tabs > ul.n_tabs > li.n_tabs {
    background: #656565;
}

div.n_tabs > ul.n_tabs > li.n_tabs:hover {
    background: #C2BDBD;
}

#entitymenu {
    width: 100%;
    background: #5B8BC3;
}

#entitymenu_container {
    padding: 0.5em;
}

.n_menu_label {
    margin: 0.1em;
}

div.Overbox div.n_expando_outer {
    background-color:rgba(69,99,135,0.7);
}

div.Overbox div.n_expando_outer div.argo {
    background: none;
}

span.argo_feedback {
    background: none;
}
