.ResultViewer {
  z-index: 5;
  position: relative;
  height: 100%;
  width: 100%;
}

table.pure-table {
  min-width: 100%;
  background: white;
}

.header_selected {
  background: #E46B17;
}

tr:nth-child(odd) > td.n_col_selected {
  background: rgba(228,107,23,0.4)
}
td.n_col_selected {
  background: rgba(228,107,23,0.2)
}

th {
    vertical-align: middle;
}
